
body {

    position: relative;
    z-index: -12;
}

#cuerpo {
    position: relative;
    padding: 0px;
    min-height: 100vh;
    box-shadow: 0px 0px 50px 1px #cccfa6;
    z-index: -1;
}

#tira {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: auto;
    z-index: 999;
}

.home {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.logo {
    display: block;
    max-width: 300px;
    height: auto;
}

h5 {
    position: relative;
    bottom: 12px;
}

button div {

    transform: rotate(-45deg);
    font-size: 1.2rem;

}

/*Estilos categorias*/

details {
    margin: 0 auto;
    margin-top: 30px;
    width: fit-content;
  }

details summary {
    margin: 0 auto;
    width: fit-content;
    font-size: 1.15rem;
  }


details summary::marker,
  :is(::-webkit-details-marker) {
  
    content: '\29FE\20';
    font-family: monospace;
    font-weight: bold;
    font-size: 1.15rem;
  }
  
details[open] summary::marker {
    content: '\29FF\20';
    transform: rotate(-45deg);
  }

/*Estilos main*/

  main {
    position: relative;
    min-height: 10vh;
    top: 0%;
    left: 0%;
    z-index: -10;
    padding-top: 100px;
}

/*estilos paginador*/

.paginador {
    position: relative;
    bottom: 60px;
    /* margin-top: 5vh; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.paginador a {

    text-decoration: none;
    color: #000;
    font-size: 1.7rem;
}

.paginador a:hover {

    text-decoration: underline;
    opacity: 0.5;

}

.disabled {

    pointer-events: none;
    opacity: 0.5;

}


/*estilos footer*/

footer {

    padding-bottom: 5vh;

}

footer div {

    padding-top: 3vh;
    color:#212529;

}

.fondo {
   
    margin-top: 30px;
    width: 125px;
    height: auto;
}


/* Pantalla de carga */

.loading-screen {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    z-index: 9999;

}

.loading-screen.hidden {

    display: none;
}

/* Main Content (Hidden Initially) */

main {
    opacity: 0;
    transition: opacity 0.5s ease;
}
 
/* Show main content when loading screen is hidden */

.loading-screen.hidden + main {
    opacity: 1;
}

.spinner::after {
  display: inline-block;
  width: 48px;
  height: 48px;
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23209cbe' d='M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z' opacity='0.25'/%3E%3Cpath fill='%23209cbe' d='M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z'%3E%3CanimateTransform attributeName='transform' dur='0.75s' repeatCount='indefinite' type='rotate' values='0 12 12;360 12 12'/%3E%3C/path%3E%3C/svg%3E");
}
  
  /* Monitor a partir de 800px */
  
  @media screen and (min-width: 800px) {
  
    #tira {
        width: 275px;
    }

       main {

        padding-top: 150px;

    }

    .paginador {
        bottom: 100px;
    }
  
  }
  
  /* Monitor a partir de 1080px */
  
  @media screen and (min-width: 1080px) {
  
    #tira {
        width: 300px;
    }
  
    main {

        padding-top: 250px;

    }

  }